
<html>
<head>
	<title>Dashboard </title>
	<% include ./partials/header %>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script type="text/javascript" src="/javascripts/geojson.min.js"></script>
	<link rel="stylesheet" href="https://unpkg.com/leaflet-search@2.3.7/dist/leaflet-search.src.css" />
	<script src="https://unpkg.com/leaflet-search@2.3.7/dist/leaflet-search.src.js"></script>
	<script type="text/javascript" src="/javascripts/leaflet-search.js"></script>
	<link rel="stylesheet" href="/stylesheets/leaflet-search.min.css">
	<link rel="stylesheet" type="text/css" href="http://labs.easyblog.it/maps/leaflet-search/src/leaflet-search.css">

</head>
<% include ./partials/head %>
<body class="container" style="width: auto !important;">
	<div class="row row-list">
		<div class="col-md-10">
			<div class="container-fluid box box-primary">
				<div class="panel panel-heading">
					<div class="row row-list">
						<div id='map' style='width: auto !important; height: 80vh;'></div>
						<script>
							const map = L.map('map');

							function get_numbers(user_loc){

								$.getJSON("/api/prop_num/"+user_loc, function (data) {
									$('<tr>').html(
										"<td>" + data.num + "</td> </tr>" 
										).appendTo('#property_summary');
								});

								$.getJSON("/api/allocated_num/"+user_loc, function (data) {
									$('<tr>').html(
										"<td>" + data.num + "</td> </tr>" 
										).appendTo('#allocated_summary');
								});

								$.getJSON("/api/unallocated_num/"+user_loc, function (data) {
									$('<tr>').html(
										"<td>" + data.num + "</td> </tr>" 
										).appendTo('#unallocated_summary');
								});
							}
								map.setView([-19.4657,29.8124], 13);
								map.setMaxBounds([[-19.331147, 29.801555],[-19.536874, 29.773284] ]);
						
							const BING_KEY = 'AuhiCJHlGzhg93IqUH_oCpl_-ZUrIE6SPftlyGYUvr9Amx5nzA-WqGcPquyFZl4L';

							const bingLayer = L.tileLayer.bing(BING_KEY,{
								'attribution': 'bing maps',
								maxZoom: 20,
								minZoom: 12,
							}).addTo(map);

							const basemap = L.tileLayer('http://{s}.google.com/vt/lyrs=s,h&x={x}&y={y}&z={z}', {
								crs: 3875,
								'attribution': 'Google',
								maxZoom: 20,
								minZoom: 12,
								subdomains: ['mt0', 'mt1', 'mt2', 'mt3']
							}).addTo(map);

							const openstreet = L.tileLayer('http://{s}.tile.osm.org/{z}/{x}/{y}.png',
							{
								attribution: ' OpenStreetMap',
								minZoom: 12,
								maxZoom: 20
							}).addTo(map);

							function getColor(d) {
								return d !== null && d!=='' ? 'black' : 'red';
							}

							var mystyle = {
								"color": "green",
								"weight": 1,
								"opacity": 0.90
							};

							function b_style(feature) {
								return {
									fillColor: b_getColor(feature.boreholes.f3),
									weight: 8,
									opacity: 10,
									color: 'red',
									dashArray: '1',
									fillOpacity: 6,
									radius: 4,

								};
							}

							function b_getColor(d) {
								return d !== null && d ==='Functional' ? 'green' : 'red';
							}

							function style(feature) {
								return {
									fillColor: getColor(feature.properties.f1),
									weight: 2,
									opacity: 0.4,
									color: 'grey',
									dashArray: '3',
									fillOpacity: 0.5
								};
							}

							var cadaLayer = L.geoJson(false, {
								style: style,
								onEachFeature: onEachFeature
							});

							var boreholeLayer = L.geoJson(false, {
								style: b_style,
								pointToLayer: function(feature, latlng) {
								return new L.Marker(latlng, {b_style});
							},
								onEachFeature: onEachBFeature
							});

							var zoneLayer = L.geoJson(false, {
								style: mystyle,
								onEachFeature:onEachFeature
							});


							$.getJSON("/api/parcels", function (data) {
								console.log('here')
                            // add GeoJSON data to layer and add to the map once the file is loaded
                            cadaLayer.addData(data).addTo(map);
							   });


							$.getJSON("/api/boreholes", function (data) {
								console.log('here2')

                            // add GeoJSON data to layer and add to the map once the file is loaded
                            boreholeLayer.addData(data).addTo(map);
                       		});
							   
							var searchControl = new L.Control.Search({
								layer: cadaLayer,
								propertyName: 'f2',
								circleLocation: true,
								initial:false,
								zoom:16,
								textPlaceholder: 'e.g 123 Mkoba',
								position: 'topright'
							});

							searchControl.on('search_locationfound', function (e) {

								e.layer.setStyle({
									mouseover: highlightFeature,
									mouseout: resetHighlight,
									click: zoomToFeature
								});
								if (e.layer._popup) e.layer.openPopup(

									);

							}).on('search_collapsed', function (e) {

							    cadaLayer.eachLayer(function (layer) { //restore feature color
							    	cadaLayer.resetStyle(layer);
							    });
							});

							map.addControl(searchControl); //inizialize search control

							function highlightFeature(e) {
								var layer = e.target;
								layer.setStyle({
									weight: 5,
									color: '#666',
									dashArray: '',
									fillOpacity: 0.4
								});

								if (!L.Browser.ie && !L.Browser.opera && !L.Browser.edge) {
									layer.bringToFront();
								}
							}

							function resetHighlight(e) {
								cadaLayer.resetStyle(e.target);
							}

							function zoomToFeature(e) {
								map.fitBounds(e.target.getBounds());
							}

							function onEachFeature(feature, layer) {
								layer.on({
									mouseover: highlightFeature,
									mouseout: resetHighlight,
									click: zoomToFeature
								});

								layer.bindPopup(
									'Stand Number: ' + feature.properties.f1 + '</br>'+
									'Street Address: ' + feature.properties.f2 + '</br>'
									+ 'Account Number: ' + feature.properties.f3 + '</br>'
									+ 'Account Name: ' + feature.properties.f4 + '</br>'
								)
							}

							function onEachBFeature(feature, layer) {
								layer.on({
									mouseover: highlightFeature,
									// mouseout: resetHighlight,
									// click: zoomToFeature
								});

								layer.bindPopup(
									'Borehole Name: ' + feature.boreholes.f1 + '</br>'+
									'Borehole Type: ' + feature.boreholes.f2 + '</br>'
									+ 'Borehole Status: ' + feature.boreholes.f3 + '</br>'
									+ 'Borehole Description: ' + feature.boreholes.f4 + '</br>'
								)
							}

							const baseMaps = {
								'Google Hybrid': basemap,
								'Bing': bingLayer,
								'Open Streetmap': openstreet,

							};
							const overlays = {
								"Boreholes": boreholeLayer,
								"All Properties": cadaLayer,
							};

							L.control.layers(baseMaps, overlays,null,{collapsed:false}).addTo(map);

						</script>

					</div>
				</div>
			</div>
		</div>

		<div class="col-md-2">

			<div class="box box-primary" id="townSummary">
				<section>Summary</secyion>
					<table class="table table-bordered table-striped" id="allocated_summary">
						<tr>
							<th><small>Total Number of Properties</small></th>
						</tr>
					</table>

					<table class="table table-bordered table-striped" id="unallocated_summary">
						<tr>
							<th><small> Number of Boreholes </small></th>
						</tr>
					</table>

					<table class="table table-bordered table-striped " id="property_summary">
					  <tr>
					  	<th><small>Working Boreholes</small></th>
					  </tr>
					</table>
			</div>
		</div>

	</body>
	<footer>
		<div class="container row vertical-offset-100">
			<div class="col-md-4 col-md-offset-4 pull-center">
				<% include ./partials/footer %>
			</div>
		</div>
	</footer>

	</html>

	<script>
 
	</script>